<div class="container">
  <h1 class="memo_list">メモ一覧</h1>

  <ul>
    <% @memos.each do |memo| %>
      <li class="memo">
        <a href="<%= "/memos/#{memo['id']}" %>">
          <%= memo['title'] %>
        </a>
      </li>
    <% end %>
  </ul>

  <a href="/new"><input type="submit" value="新規作成"></a>
</div>
