<!DOCTYPE html>
<html lang="ja">
    <head>
        <mata charset="utf-8">
        <title>Sinatra</title>
        <link href="style.css?v" rel="stylesheet" type="text/css">
    </head>
    <body>
        <%= yield %>
    </body>
</html>
